<!--스태틱 폴더를 load-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
</head>
<body>
    <h1>LIST / <a href="/write_form">글쓰기</a></h1>
    <form method="get" action="/list" name="frm">
        <select name="field" id="field">
            <option value="title">제목</option>
            <option value="writer">작성자</option>
            <option value="content">내용</option>
            <option value="all">이름+제목+내용</option>
            <script>
                document.getElementById("field").value="{{field}}"
            </script>
        </select>
        <input type="text" name="word" placeholder="Search" value="{{word}}"/>
        <input type="submit" value="검색"/>
    </form>
    <br/><br/>
    게시물 수 : {{boardCount}} <br/>
    <table border="1">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
                <th>첨부파일</th>
                <th>다운로드</th>
            </tr>
        </thead>
        <tbody>
            {% for board in boardList %}
            <tr>
                <td>{{board.idx}}</td>
                    <!-- 쿼리스트링 방식으로 넘기기-->
                <td><a href="/detail_idx?idx={{board.idx}}">{{board.title}}</a>
                    <!-- restful 방식으로 넘기기-->
                    // <a href="/detail/{{board.idx}}">{{board.title}}</a>
                </td>
                <td>{{board.writer}}</td>
                <td>{{board.post_date | date:"Y-m-d"}}</td>
                <td>{{board.hit}}</td>
                <td>
                    {% if board.filesize > 0 %}
                    <!-- <a href="/download?idx={{board.idx}}">
                        <img src="{% static 'images/siru.jpg' %}" width=50 height=50>
                    </a> -->
                    <span class="_imgs" data-url="/download_count?idx={{board.idx}}">
                    <img src="{% static 'images/siru.jpg' %}" width=50 height=50>
                    </span>
                    {% endif %}
                </td>
                <td class="downCnt">{{board.down}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- 이전 -->
    {% if startPage > blockPage %}
        <a href="?page={{startPage|add:-3}}&field={{field}}&word={{word}}">이전</a>
    {% endif %}

    <br/><br/>
    <!-- 페이지 번호 -->
    {% for i in range %}
        {% if i == currentPage %}
            {{i}}
        {% else %}
            <a href="?page={{i}}&field={{field}}&word={{word}}">{{i}}</a>
        {% endif %}
    {% endfor %}

    <!-- 다음 -->
    {% if endPage < totPage %}
        <a href="?page={{endPage|add:+1}}&field={{field}}&word={{word}}">다음</a>
    {% endif %}

    <script>
        // . 은 클래스
        $("._imgs").on("click",function(){
            // alert($(this).attr("data-url"))
            _imgs = $(this);
            $.ajax({
                // url : $(this).data("url")
                url : $(this).attr("data-url"),
                type:"GET",
                success:function(data){
                    // alert(data.count)
                    // down_Cnt를 찾기위해 _imgs의 부모들을 따라가 data.count를 set 해준다.
                    _imgs.parent().parent().find(".downCnt").text(data.count)
                    location.href="/download?idx="+data.idx
                }
            });
        });
    </script>
</body>
</html>